SQLSERVER=server=aa_db;database=aa;User id=sa;Password=Pa$$word!;MultipleActiveResultSets=true;TrustServerCertificate=True;
CLOUDINARY_CLOUD_NAME=your-account-com
CLOUDINARY_API_KEY=1234
CLOUDINARY_API_SECRET=abc1234xyz
JWT_ISSUER=http://localhost:8080/realms/myrealm
KEYCLOAK_PUBLIC_KEY=rsapublickey
